@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

@layer base {
  input {
    @apply focus:outline-none;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
  /* start header section */
  .rounded-input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .rounded-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  header nav a.active {
    @apply text-white;
  }
  /* end header section */

  /* start feature section */
  .icon-feature-hover:hover .icon-feture {
    @apply text-white;
  }
  .feature-content {
    @apply flex flex-col justify-center items-center gap-3 basis-[50%] lg:basis-[25%] py-4 relative after:transition-all after:absolute after:-bottom-0 after:left-0 after:w-full after:h-0 hover:after:h-[3px] after:bg-primary after:rounded-full;
  }
  .feature-icon-wrapper {
    @apply flex justify-center items-center bg-feature bg-no-repeat bg-cover w-[70px] h-[70px] transition-all hover:bg-feature-hover icon-feature-hover;
  }
  /* end feature section */
  /* start products section */
  .cart__icon-transition:hover:first-child {
    @apply text-white;
  }
  .product__card {
    @apply col-span-2 relative overflow-hidden pb-4 shadow-lg border border-gray-200 transition-all cursor-pointer flex justify-between items-center flex-col hover:border-hard-primary;
  }
  .product__card:hover .hidden__icons {
    @apply right-4;
  }
  /* end products section */
  /* start social media section */
  .social__hover {
    @apply absolute top-0 left-0 w-full h-full flex justify-center items-center rounded-lg transition-colors hover:bg-[#84d1874d];
  }
  .social__hover:hover :first-child {
    @apply flex;
  }
  /* end social media section */
  /* start side filter products */
  .check__box label {
    @apply ml-6 before:absolute before:top-[50%] before:left-0 before:w-4
          before:h-4 before:-mt-[8px] before:border before:border-gray-400 before:rounded-full after:absolute after:top-[50%] after:left-0 after:-mt-[8px] after:w-4 after:h-4 after:rounded-full after:border after:border-primary after:hidden;
  }
  .check__box input[type="checkbox"]:checked + label::after,
  .check__box input[type="checkbox"]:checked ~ .icon__checked {
    @apply flex;
  }
  .track_price:nth-child(2) {
    @apply bg-primary;
  }
  /* end side filter products */
  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
  }
}
