@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

@layer base {
  input {
    @apply focus:outline-none;
  }
  .rounded-input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .rounded-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  header nav a.active {
    @apply text-white;
  }
}
